modules = ["nodejs-20", "web"]
run = "npm run dev"

[nix]
channel = "stable-25_05"

[deployment]
run = ["sh", "-c", "npm run dev"]

[workflows]
runButton = "Run CV Template"

[[workflows.workflow]]
name = "Run CV Template"
author = 45535916
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd apps/client/public && PORT=3001 node server.js"

[[ports]]
localPort = 5000
externalPort = 80
